
div{
  display: flex;
  justify-content: center;
}

section{
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}


main img {
    width: 300px;
  height: auto;
}

.imagendiv{
  border: 3px solid green;
}